/build-Trem-Desktop-Debug/.qmake.stash
/build-Trem-Desktop-Debug/Makefile
/build-Trem-Desktop-Debug/Trem
/build-Trem-Desktop-Debug/main.o
/build-Trem-Desktop-Debug/mainwindow.o
/build-Trem-Desktop-Debug/moc_mainwindow.cpp
/build-Trem-Desktop-Debug/moc_mainwindow.o
/build-Trem-Desktop-Debug/moc_predefs.h
/build-Trem-Desktop-Debug/moc_trem.cpp
/build-Trem-Desktop-Debug/moc_trem.o
/build-Trem-Desktop-Debug/trem.o
/build-Trem-Desktop-Debug/ui_mainwindow.h
backup_moc_mainwindow.cpp
tk.txt
